<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>My Sleep Goals</h1>
    </div>
    <ol>
    <% for(i = 0; i<goals.length; i++){  %>
        <li> <a href="/showGoals/<%= goals[i]._id %>">
              <%= goals[i].startAt %></a>
              <i>
             <%= goals[i].endAt %></\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
