<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Your sleep data on <%= month %>/<%= day%>/<%= year%></h1>


    <ol>
        <div class="row">

          <div class="col-md-4">
            <h4>Sleep Duration</h4>
          </div>

          <div class="col-md-4">
            <h4>Beginning Time</h4>
          </div>

          <div class="col-md-4">
            <h4>Ending Time</h4>
          </div>

        </div>


    <% for(i = 0; i<timeRecording.length; i++){ console.log("i="+i); console.dir(timeRecording[i].startAt) %>
     
       <% if (timeRecording[i].endAt.toLocaleDateString() == (month+"/"+day+"/"+year)) {%>
          <div class="row">

            <div class="col-md-4">
              <p><%=((timeRecording[i].endAt.getTime()-timeRecording[i].startAt.getTime())/(1000*60*60)).toFixed(3)%> hours </p>
            </div>

            <div class="col-md-4">
              <p>From <%= timeRecording[i].startAt.toLocaleTimeString() %> </p>
            </div>

            <div class="col-md-4">
              <p>To <%= timeRecording[i].endAt.toLocaleTimeString() %> </p>
            </div>

          </div>
      <% } %>
    <% } %>

    </ol>
  </div>

<%- include('bootfooter') -%>
