<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">

      <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
      <style>
      *{
      font-family: 'Dosis', sans-serif;
      }
      </style>
        <h1><%= user.userName %>'s tempo profile</h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> This is your schedule for <%= day.name %>
            with start time <%= day.startAt %>
            and end time <%= day.endAt %>
            You are logged in to tempo.
        </p>
      
        <p> Last updated on <%= user.lastUpdate %> </p>
<a href="/editProfile">edit profile</a>
    </div>

<%- include('bootfooter') -%>
