<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
      <style>
      *{
      font-family: 'Dosis', sans-serif;
      }
      </style>
        <h1><%= user.userName %>'s tempo profile</h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to YellowCartwheel.
        </p>
        <p> Last updated on <%= user.lastUpdate %> </p>
        <hr>
        <form method="post" action="/updateProfile">
            userName: <input type="text" name="userName" value="<%= user.userName %>"><br>
            profilePicURL: <input type="file" name="profilePicURL" accept="image/png, image/jpeg"><br>
            zipcode: <input type="text" name="zipcode"
                         value="<%= user.zipcode %>"><br>
            Wakeup Music: <select class="form-control" name="wakeup">
                <option>Quiet_Morning</option>
                <option>Healing_Senses</option>
                <option>Shape_of_you</option>
                <option>Cloud_Cascade</option>
                <option>breathin</option>
                <option>Cordillera_Breeze</option>
                <option>Circle_of_life</option>
              </select>
            <input type="submit" class="btn btn-lg btn-primary">
        </form>


    </div>

<%- include('bootfooter') -%>
