<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>All history data for <%= user.userName %></h1>
    </div>
    <ol>
    <% for(i = 0; i<timeRecording.length; i++){ console.dir(timeRecording[i].startAt) %>
        <li>
        <h4><%= timeRecording[i].startAt.toLocaleDateString()%> </h4>
        <p>You slept <%=((timeRecording[i].endAt.getTime()-timeRecording[i].startAt.getTime())/(1000*60*60)).toFixed(3)%> hours </p>
        <p>Your Start Time is <%= timeRecording[i].startAt.toLocaleTimeString() %> </p>
        <p>Your End Time is <%= timeRecording[i].endAt.toLocaleTimeString() %> </p> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
