<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>YellowCartwheel Profile for <%= profile.userName %></h1>
        <img src="<%= profile.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= profile.googlename %>
            with email <%= profile.googleemail %>
            You are logged in to YellowCartwheel.
        </p>
        <p> Last updated on <%= profile.lastUpdate %> </p>
    </div>
    <style>
    .jumbotron {
       /*background: rgb(200, 54, 54); /* This is for ie8 and below */
       background: rgba(255, 255, 255, 0.2);*/
    }
    </style>

<%- include('bootfooter') -%>
