<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Recording has been stopped.</h1>
    <p>Your Start Time is:<%= timeRecording.startAt %> </p>   <br>
    <p>Your End Time is:<%= timeRecording.endAt %> </p>   <br>
</div>

<%- include('bootfooter') -%>
