<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">

    <h1>Recording has been stopped.</h1>
    <p>You slept <%= timeInHours.toFixed(3) %> hours on <%= timeRecording.startAt.toLocaleDateString() %> </p>
    <br>

    <p>Your Start Time is <%= timeRecording.startAt.toLocaleTimeString() %> </p>
    <p>Your End Time is <%= timeRecording.endAt.toLocaleTimeString() %> </p>
</div>

<%- include('bootfooter') -%>
